* {
    padding: 0px;
    margin: 0px;
    background-color: black;
}
html {
    height: 100vh;
    width: auto;
}

.iteme {
    background-color: antiquewhite;
    border: 1px solid red;
    min-width: 100px;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.iteme:first-child {
    display: flex;
    align-items: baseline;
}

.contenedor {
    border: 1px solid red;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 20vh;
}